body {
    margin: 0;
    padding: 0;
}

.mainContainer {
    width: 810px;
    padding: 50px 15px 15px 15px;
    background-color: #f5f5f5;
    overflow: hidden;
    font-family: "Helvetica Neue", serif;
    margin: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.7;
    display: block;
}

/* HEADER */
.appHeader {
    width: 100%;
    margin: 0 0 15px 15px;
    height: 45px;
    padding: 30px 0 15px 0;
}

.appHeader div {
    float: left;
}

.appHeader .title {
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    line-height: 43px;
}

.appHeader .user {
    color: #000000;
    font-size: 18px;
    line-height: 22px;
    margin-top: 17px;
    margin-left: 10px;
    width: 420px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mainContainer.list .appHeader .user {
    width: 335px;
}

.appHeader .viewSwitcher {
    margin-left: 30px;
    margin-top: 18px;
    font-size: 13px;
}

.appHeader .viewSwitcher:after {
    content: 'Show as list'
}

.mainContainer.list .appHeader .viewSwitcher:after {
    content: 'Show as an awesome grid'
}

.appHeader .viewSwitcher input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

/* HOST METRICS */
.content .hostMetrics:nth-child(odd) {
    clear: both;
}

.hostMetrics {
    width: 315px;
    padding: 30px;
    margin: 15px;
    background-color: white;
    float: left;
    display: grid;
}

.mainContainer.list .hostMetrics {
    width: 720px;
}

.hostMetrics header {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    margin-bottom: 23px;
}

.hostMetrics .metric {
    width: 100%;
    margin-bottom: 15px;
}

.hostMetrics .metric .score {
    color: #4A4A4A;
    opacity: 0.62;
    font-size: 13px;
    font-weight: bold;
    line-height: 19px;
    display: inline-block;
}

.mainContainer.list .hostMetrics .metric .name {
    width: 680px;
}

.hostMetrics .metric .name {
    color: #4A4A4A;
    font-size: 16px;
    line-height: 19px;
    display: inline-block;
    float: right;
    width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
}